<!DOCTYPE html>
<html>
<head>
    <title>Express Validator Tutorial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h3>Express Validator Tutorial</h3>
                <form  action="/" method="POST" >
                    <div class="form-group"><input class="form-control" type="text" id="name" name="name" placeholder="Name"></div>
                    <div class="form-group"><input class="form-control" type="text" id="classYear" name="classYear" 
                            placeholder="Class Year"></div>
                    <div class="form-group"><input class="form-control" type="text" id="weekday" name="weekday"
                            placeholder="Available Weekday">
                    </div>
                    <div class="form-group"><input class="form-control" type="text" id="email"  name="email" placeholder="Email">
                    </div>
                    <div class="form-group"><input class="form-control" type="password" id="password" name="password"
                            placeholder="Password">
                    </div>
                    <div class="form-group"><input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                            placeholder="Confirm Password"></div>
                    <div class="form-group"><button class="form-control btn btn-primary" type="submit"
                            id="signup-btn">Submit</button></div>
                </form>
            </div>
        </div>
         {{#errors}}
            <div class="alert alert-danger"  role="alert" id="error-group" >
               <ul id="errors"> {{msg}} </ul>
                 </div>
         {{/errors}} 
 
    </div>
</body>
</html>